/*categories*/

.category-list a, .tasks-list a {
    color: inherit;
    text-decoration: inherit;
    width: 100%;
    display: flex;
}

.category-box, .tasks-box {
    width: 50%;
}

.category-name {
    margin: 10px;
}

.category-name-container {
    width: 50%;
    display: flex;
    align-items: center;
}

.category-list {
    height: 500px;
    overflow-y: scroll;
    background-color: white;

    display: flex;
    flex-direction: column;
}

.main-box {
    display: flex;
    margin-top: 60px;
}

.category:first-child {
    margin-top: 10px;
}

.category {
    background-color: darkseagreen;
    margin: 5px 10px;
}

.category, .task {
    display: flex;
    min-height: 40px;
    align-items: center;
    padding: 5px;
}

.category, .task {
    font-size: 1.6rem;
}

.category-icons-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
}

.category-add-container, .tasks-add-container {
    margin-bottom: 30px;
}

.nested {
    align-self: flex-end;
    width: 70%;
}
.level-1{
    width: 90%;
}
.level-2{
    width: 80%;
}
.level-3{
    width: 70%;
}

.category-add-input, .task-add-input {
    width: 280px;
    padding: 5px;
    font-size: 1.6rem;
}

.category-add-container, .tasks-add-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


/* selected category*/

.selected-category {
    border: 2px solid black;
}

.category-delete-text-container {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

