/*header*/

h1 {
    font-size: 3rem;
}

.upper-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.progress-bar-container {
    display: flex;
    height: 30px;
    margin: 50px 0;
    border: 2px solid white;
    border-radius: 20px;
}

.progress-bar {
    background-color: #e8efb7;
    transition: all 0.5s ease;
    border-radius: 10px;
}

.search-container {
    display: flex;
    width: 450px;
    justify-content: space-between;
}

.checkbox-search-box {
    display: flex;
    align-items: center;
    font-size: 1.6rem;

}

.search-checkbox {
    margin: 0 10px;
}

.input-search-box {
    position: relative;
}

.search-field {
    width: 280px;
    padding: 5px;
    font-size: 1.6rem;
}

.clear-icon-search-field {
    position: absolute;
    bottom: 20%;
    right: 7%;
    font-size: 1.6rem;
}

.header-link{
    color: white;
    text-decoration: none;
}
