html {
    font-size: 10px;
}

* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-weight: 300;
    background-color: #8a6060;
    color: white;
}

.todo-list-app {
    width: 1000px;
    margin: 0 auto;
    position: relative;
}

.main-content-wrapper {
    transition: all 0.3s ease;

}

.blurred {
    filter: blur(20px);
}

.disabled {
    visibility: hidden;
    opacity: 0;
}
