/*Tasks*/

.task {
    display: flex;
    justify-content: space-between;
    background-color: #e2ab6a;
    margin: 10px 10px;

}

.tasks-box {
    transition: opacity 0.5s linear;
}

.task-checkbox-container {
    display: flex;
    align-items: center;
}

.task-checkbox {
    margin: 10px;
}

.tasks-list {
    height: 500px;
    overflow-y: scroll;
    background-color: white;
}

.icon {
    margin: 10px;
    cursor: pointer;
}

.clear-icon-search-field {
    cursor: pointer;
    color: gray;
}

.selected-task {
    border: 2px solid black;
}