html {
    font-size: 10px;
}

* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-weight: 300;
    background-color: #eaeaea;
}

.todo-list-app {
    width: 1000px;
    margin: 0 auto;
    position: relative;
}

.main-content-wrapper {
    transition: all 0.3s ease;

}

.blurred {
    filter: blur(20px);
}

/*header*/

h1 {
    font-size: 3rem;
}

.upper-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.progress-bar {
    display: flex;
    justify-content: center;
}

.search-container {
    display: flex;
    width: 450px;
    justify-content: space-between;
}

.checkbox-search-box {
    display: flex;
    align-items: center;
    font-size: 1.6rem;

}

.search-checkbox {
    margin: 0 10px;
}

.input-search-box {
    position: relative;
}

.search-field {
    width: 280px;
    padding: 5px;
    font-size: 1.6rem;
}

.clear-icon-search-field {
    position: absolute;
    bottom: 20%;
    right: 7%;
    font-size: 1.6rem;
}

/*categories*/

.category-box, .tasks-box {
    width: 50%;
}

.category-name {
    margin: 10px;
}

.category-name-container {
    width: 50%;
    display: flex;
    align-items: center;
}

.category-list {
    height: 500px;
    overflow-y: scroll;
    background-color: white;

    display: flex;
    flex-direction: column;
}

.main-box {
    display: flex;
    margin-top: 60px;
}

.category:first-child {
    margin-top: 10px;
}

.category {
    background-color: darkseagreen;
    margin: 5px 10px;
}

.category, .task {
    display: flex;
    height: 40px;
    align-items: center;
    padding: 5px;
}

.category, .task {
    font-size: 1.6rem;
}

.category-icons-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
}

.category-add-container, .tasks-add-container {
    margin-bottom: 30px;
}

.nested {
    width: 90%;
    align-self: flex-end;
}

/*.nested +.nested{*/
/*width: 80%;*/
/*}*/
/*.nested + .nested + .nested{*/
/*width: 70%;*/
/*}*/

/*tasks*/

.task {
    display: flex;
    justify-content: space-between;
    background-color: bisque;
    margin: 10px 10px;

}

.tasks-box {
    transition: opacity 0.5s linear;
}

.task-checkbox-container {
    display: flex;
    align-items: center;
}

.task-checkbox {
    margin: 10px;
}

.tasks-list {
    height: 500px;
    overflow-y: scroll;
    background-color: white;
}

.category-add-input, .task-add-input {
    width: 280px;
    padding: 5px;
    font-size: 1.6rem;
}

.category-add-container, .tasks-add-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.icon {
    margin: 10px;
    cursor: pointer;
}

.clear-icon-search-field {
    cursor: pointer;
}

.add-button {
    cursor: pointer;
}

.disabled {
    visibility: hidden;
    opacity: 0;
}

/* selected category*/

.selected-category {
    border: 2px solid black;
}

.selected-task {
    border: 2px solid black;
}

.category-delete-text-container {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

/*MODAL WINDOW*/

.modal-window-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}

.disabled .modal-window {
    visibility: hidden;
    opacity: 0;
}

.modal-window, .modal-window-large {
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: white;
    border-radius: 30px;

    opacity: 1;
    transition: opacity 0.3s ease;
}

.modal-window {
    width: 450px;
    height: 200px;
}

.modal-window-large {
    width: 850px;
    height: 450px;
}

.modal-buttons-container {
    width: 100%;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    align-items: center;

    padding: 15px;
}
.modal-buttons-container.large{
    flex-direction: column;
}

.modal-action-buttons-container{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.modal-action-buttons-container input {
    margin: 0 30px;
}

.close-button {
    cursor: pointer;
}

.task-textarea {
    width: 400px;
    height: 300px;
    padding: 5px;
    font-size: 1.6rem;
}
