.app-container {
  width: 500px;
  margin: 0 auto;
  position: relative;
}

.app-main-content-wrapper{
  transition: all 0.3s ease;
}

.blurred {
  filter: blur(20px);
}

.disabled {
  visibility: hidden;
  opacity: 0;
}